<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace ="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>
<div class="container py-4">
    <div class="card bg-light">
        <div class="card-header" th:text="${titulo}"></div>
        <div class="card-body">
            <h4 class="card-title"></h4>

        </div>
    </div>
</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>